[
  {
    "end": 45.37,
    "summary": "whitespace is insignificant in FORTRAN",
    "question": "Is FORTRAN whitespace-significant?",
    "quizzes": [
      {
        "x": 33.229166666666664,
        "y": 15.555555555555555,
        "w": 19.479166666666668,
        "h": 7.037037037037037
      }
    ]
  }
  {
    "end": 323.85,
    "summary": "example of problems in lexical analysis due to insignificant whitespace in FORTRAN",
    "question": "How much lookahead is required to tokenize DO 5 1 = 1.25 in FORTRAN?",
    "quizzes": [
      {
        "x": 11.458333333333334,
        "y": 53.888888888888886,
        "w": 25.416666666666668,
        "h": 7.037037037037037
      }
    ]
  }
  {
    "end": 364.6,
    "summary": "what is lookahead?",
    "question": "What is lookahead?",
    "quizzes": [
      {
        "x": 37.1875,
        "y": 25.555555555555557,
        "w": 30.3125,
        "h": 8.88888888888889
      }
      {
        "x": 15.9375,
        "y": 62.592592592592595,
        "w": 20.416666666666668,
        "h": 7.777777777777778
      }
    ]
  }
  {
    "end": 436.3,
    "summary": "example of lookahead in an if-else statement",
    "question": "How much lookahead is required to tokenize if-else statements in FORTRAN?",
    "quizzes": [
      {
        "x": 16.145833333333332,
        "y": 14.814814814814815,
        "w": 6.5625,
        "h": 6.481481481481482
      }
    ]
  }
  {
    "end": 538.6,
    "summary": "keywords are not reserved in PL/1",
    "question": "Are keywords reserved in PL/1?",
    "quizzes": [
      {
        "x": 34.375,
        "y": 16.666666666666668,
        "w": 21.5625,
        "h": 6.111111111111111
      }
    ]
  }
  {
    "end": 631,
    "summary": "example of unbounded lookahead in PL/1 due to lack of reserved keywords",
    "question": "How much lookahead is required to tokenize a DECLARE statement in PL/1?",
    "quizzes": [
      {
        "x": 29.166666666666668,
        "y": 69.25925925925925,
        "w": 40.104166666666664,
        "h": 10.555555555555555
      }
    ]
  }
  {
    "end": 751.741818,
    "summary": "example of lexical ambiguity between C++ templates and stream operators",
    "question": "Why do C++ compilers fail to correctly tokenize Foo<Bar<Bazz>>?",
    "quizzes": [
      {
        "x": 62.8125,
        "y": 78.33333333333333,
        "w": 10.9375,
        "h": 7.222222222222222
      }
    ]
  }
  {
    "end": 781.109936,
    "summary": "in summary, lexical analysis sometimes requires lookahead",
    "question": "What is the goal of lexical analysis?",
    "quizzes": [
      {
        "x": 41.666666666666664,
        "y": 64.44444444444444,
        "w": 17.5,
        "h": 9.814814814814815
      }
    ]
  }
]