doctype html
html(lang="en")
  head
    title quiz view
    link(href='index.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet')
    link(href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css' rel='stylesheet')
    //-link(href='bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css', rel='stylesheet')
  body
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    //-script(src='bower_components/jquery-ui/jquery-ui.min.js')
    script(src='bower_components/jadeDom/jquery.jadedom.js')
    script(src='bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
    script(src='index.js')
    p How well can you answer each of these questions?
    #accordion.panel-group
    button.btn.btn-default.btn-lg(type='button' onclick='review_clicked()') Review
      //- .panel.panel-default
      //-   .panel-heading
      //-     h4.panel-title
      //-       a(data-toggle='collapse' href='#collapse_1') Collapsible Group Item 1
      //-   #collapse_1.panel-collapse.collapse.in
      //-     .panel-body Content 1
      //- .panel.panel-default
      //-   .panel-heading
      //-     h4.panel-title
      //-       a(data-toggle='collapse' href='#collapse_2') Collapsible Group Item 2
      //-   #collapse_2.panel-collapse.collapse.in
      //-     .panel-body Content 2
    video#viewer(style='display: none')
